<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>hoangduc.filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>hoangduc.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>hoangduc.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>hoangduc.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>hoangduc.controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>hoangduc.controller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>hoangduc.controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>hoangduc.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>hoangduc.controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>hoangduc.controller.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>hoangduc.controller.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>hoangduc.controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>hoangduc.controller.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>hoangduc.controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductController</servlet-name>
        <servlet-class>hoangduc.controller.ShowProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDogProductController</servlet-name>
        <servlet-class>hoangduc.controller.ShowDogProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCatProductController</servlet-name>
        <servlet-class>hoangduc.controller.ShowCatProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPetController</servlet-name>
        <servlet-class>hoangduc.controller.SearchPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePetController</servlet-name>
        <servlet-class>hoangduc.controller.DeletePetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonSearchPetController</servlet-name>
        <servlet-class>hoangduc.controller.PersonSearchPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPetController</servlet-name>
        <servlet-class>hoangduc.controller.AddPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPetController</servlet-name>
        <servlet-class>hoangduc.controller.EditPetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePetController</servlet-name>
        <servlet-class>hoangduc.controller.UpdatePetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceSearchController</servlet-name>
        <servlet-class>hoangduc.controller.ServiceSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDeleteController</servlet-name>
        <servlet-class>hoangduc.controller.ServiceDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceAddController</servlet-name>
        <servlet-class>hoangduc.controller.ServiceAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceEditController</servlet-name>
        <servlet-class>hoangduc.controller.ServiceEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceUpdateController</servlet-name>
        <servlet-class>hoangduc.controller.ServiceUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>hoangduc.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>hoangduc.controller.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>hoangduc.controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>hoangduc.controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillController</servlet-name>
        <servlet-class>hoangduc.controller.SearchBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBillController</servlet-name>
        <servlet-class>hoangduc.controller.DeleteBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBillController</servlet-name>
        <servlet-class>hoangduc.controller.ViewBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListBillController</servlet-name>
        <servlet-class>hoangduc.controller.UserListBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteBillController</servlet-name>
        <servlet-class>hoangduc.controller.UserDeleteBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewBillController</servlet-name>
        <servlet-class>hoangduc.controller.UserViewBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServiceController</servlet-name>
        <servlet-class>hoangduc.controller.ShowServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindProductController</servlet-name>
        <servlet-class>hoangduc.controller.FindProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/SearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/EditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductController</servlet-name>
        <url-pattern>/ShowProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDogProductController</servlet-name>
        <url-pattern>/ShowDogProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCatProductController</servlet-name>
        <url-pattern>/ShowCatProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPetController</servlet-name>
        <url-pattern>/SearchPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePetController</servlet-name>
        <url-pattern>/DeletePetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonSearchPetController</servlet-name>
        <url-pattern>/PersonSearchPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPetController</servlet-name>
        <url-pattern>/AddPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPetController</servlet-name>
        <url-pattern>/EditPetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePetController</servlet-name>
        <url-pattern>/UpdatePetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceSearchController</servlet-name>
        <url-pattern>/ServiceSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDeleteController</servlet-name>
        <url-pattern>/ServiceDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceAddController</servlet-name>
        <url-pattern>/ServiceAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceEditController</servlet-name>
        <url-pattern>/ServiceEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceUpdateController</servlet-name>
        <url-pattern>/ServiceUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillController</servlet-name>
        <url-pattern>/SearchBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBillController</servlet-name>
        <url-pattern>/DeleteBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBillController</servlet-name>
        <url-pattern>/ViewBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListBillController</servlet-name>
        <url-pattern>/UserListBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteBillController</servlet-name>
        <url-pattern>/UserDeleteBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewBillController</servlet-name>
        <url-pattern>/UserViewBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServiceController</servlet-name>
        <url-pattern>/ShowServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindProductController</servlet-name>
        <url-pattern>/FindProductController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/PetShop/ShowProductController</welcome-file>
    </welcome-file-list>
</web-app>
